numpy<2.0
torch==2.5.1
tqdm
tensorflow
tensorflow_datasets
tensorflow-io
matplotlib
pandas
scipy
apache_beam
torchvision=0.20.1
torchaudio=2.5.1
pytest
flake8
pyyaml
pillow
opencv-python-headless
psutil
toml
gymnasium
pypose
h5py
sympy
tensorboard
torchsummary
torchinfo
huggingface
huggingface-hub
